<h3> Search by country </h3>
<hr>
<div class="row">
  <div class="col">
    <app-country-input (onEnter)="search( $event )" (onDebounce)="suggestions( $event )"
      placeholder="Search country..."></app-country-input>
  </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="error">
  There is no result with {{term}}
</div>
<div class="row" *ngIf="!error">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>

<ul *ngIf="showSuggestions" class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let countries of suggestedCountries">
    <a class="nav-link" [routerLink]="['/country', countries.cca2]">{{countries.name.common}}</a>
  </li>
  <li class="list-group-item list-group-item-action" (click)="searchSuggested(term)">
    <a class="nav-link">Search {{term}}</a>
  </li>

</ul>
